:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --primary: hsl(0, 60%, 60%);
    --primary-muted: hsl(0, 90%, 80%);
}

h1 {
    color: --text;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-muted);
}

button {
    background-color: var(--bg-light);
    border: 0px;
    color: var(--text);
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.title {
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 10px;
    display: inline-block;
    padding-inline: 50px;
    padding-block: 20px;
    text-align: left;
}

.centered {
    text-align: center;
}

button:hover {
    background-color: var(--text);
    color: var(--bg-light)
}

* {
    font-family: 'JetBrains Mono', monospace;
}